<div class="password">
    <input
        type="text"
        placeholder="enter password"
        [(ngModel)]="password"
        (input)="checkPasswordStrength($event)">
</div>
<div class="unmet_condition_container">
    <p *ngFor="let unmetCondation of listOfUnmetConditions">
        <span class="unmet_condition">
            {{unmetCondation.message}}
        </span>
    </p>
</div>
<div class="validation">
    <p *ngFor="let condition of conditions">
        <span class="validation_level"
        [class]="passwordClassesCheck[conditions.indexOf(condition)]">
            {{condition}}
        </span>
    </p>
</div>